.ul {
    box-shadow: 2px 2px 10px rgb(94, 93, 93);
    border: 1px solid #ffffff67;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(141, 141, 141);
}

#nav_wrapper {
    background-color: #a7311e;
}

.main_ul,
#sub_menu_wrapper {
    background-color: #6056556b;
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px),
        radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
}

#sub_menu_wrapper {
    background-color: #698b9bcd;
    /* classic Windows teal */
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px),
        radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
}

#sub_menu_wrapper_islamic {
    background-color: #698b9bcd;
    /* classic Windows teal */
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px),
        radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
}


#sub_menu_wrapper {
    position: absolute;
    top: 100%;
    left: 0;

    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transition:
        max-height 0.9s ease,
        opacity 0.01s ease;
}

#sub_menu_wrapper_islamic {
    position: absolute;
    top: 100%;
    right: 0;

    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transition:
        max-height 0.9s ease,
        opacity 0.01s ease;
}

/* adjust this value to match submenu height */
#main_menu:hover #sub_menu_wrapper {
    max-height: 500px;
    opacity: 1;
}

#main_menu_islamic:hover #sub_menu_wrapper_islamic {
    max-height: 500px;
    opacity: 1;
}

.top_arrow {
    display: hidden;
}

#main_menu:hover .top_arrow {
    display: block;
    left: 5%;
    opacity: 1;
}

#main_menu_islamic:hover .top_arrow {
    display: block;
    right: 25%;
    opacity: 1;
}

.top_arrow svg {
    width: 25px;
    height: 25px;
}


#three_line svg {
    font-size: 2rem;
    color: #EC4024;
    cursor: pointer;
}

.login {
    box-shadow: 2px 2px 5px olivedrab;
}

@media only screen and (max-width: 1100px) {
    #three_line {
        display: block;
    }

    .main_ul {
        display: none;
    }
}