body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #fff;
}

.bg {
    background-color: #00000041;
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.15) 1px, transparent 1px),
        radial-gradient(rgba(0, 0, 0, 0.171) 1px, transparent 20px);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
}